.film-info {

  &__well {
    border-radius: 0 0 4px 4px;
  }

  &__span {
    white-space: nowrap;
    font-size: 1.2rem;
  }

  &__badge {
    font-size: 0.96rem;
  }

  &__span {
    margin-right: $gap;

    &:last-child {
      margin-right: 0;
    }
  }
}

.embed-responsive {
  border: 1px solid #dddddd;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.film-description__well {
  background-color: darken($color-light, 5.5%);
}

.film-reviews .panel {
  margin-bottom: $gap * 2;
}

.film-comment {

  &__button {
    float: right;
  }
}

